<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= viewport content= width=device-width initial-scale=1.0>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  	<link rel="stylesheet" type="text/css" href="../css/news.css">
  	<script type="text/javascript" src="../js/script.js"></script>
	<title></title>
</head>
<body>
<header>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-6 d-none d-sm-block d-lg-block">
					<span><i class="fa fa-star"> Hệ thống bán lẻ Long Trần Mobile</i></span>
				</div>
				<div class="col-12 col-sm-6 col-lg-6 d-none d-sm-block d-lg-block">
					<ul class="header-top-Amenu">
						<li style="border-right: 1px solid #cccccc;">
							<a href="https://www.youtube.com/" target="_blank" title="dReviews">
								<i class="fab fa-youtube"></i>&nbsp;dReviews
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/" target="_blank" title="Fanpage">
								<i class="fab fa-facebook-square"></i>&nbsp;Fanpage
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav style="text-align: center; background-color: #b80a04" class="d-none d-sm-block d-lg-block">
		<div class="banner-top">
			<a href="#" target="_blank"><img src="../images/banner_top.png"></a>
		</div>
	</nav>

	<div class="header-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-4 col-lg-4">
					<div style="background-color: white; display: flex;">
						<div style="line-height: 60px;">
							<a href="#" target="_blank"><img src="../images/logo-fix.png" style="width: 50px; height: auto; margin-left: 10px;"></a>
						</div>
						<div class="d-none d-sm-block d-lg-block" id="header-select">
							<select>
								<option value="hn" selected="selected">Hà Nội</option>
								<option value="hcm">Hồ Chí Minh</option>
								<option value="ag">An Giang</option>
								<option value="dn">Đà Nẵng</option>
								<option value="ct">Cần Thơ</option>
								<option value="tn">Thái Nguyên</option>
								<option value="hd">Hải Dương</option>
								<option value="hp">Hải Phòng</option>
								<option value="kg">Kiên Giang</option>
							</select>
						</div>
						<div class="header-search">
							<form method="get">
								<div class="search-form">
									<input type="text" name="" placeholder="Bạn cần tìm..." style="color: #428df0;background-color: #ffffff;">
									<input type="hidden" name="">
									<a href="#"><i class="fas fa-search" style="background-color: white; color: #428df0 ;"></i></a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-8 col-lg-8" style="padding: 0">
					<div class="header-wrapper-menu">
						<ul style="display: flex; float: left; margin-top: 7px; padding: 0">
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/smartphonen.png"></span><br>
									<span>ĐIỆN THOẠI</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/tabletn.png"></span><br>
									<span>TABLET</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/phukienn.png"></span><br>
									<span>PHỤ KIỆN</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/donghon.png"></span><br>
									<span>ĐỒNG HỒ</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/macbook-icon.png"></span><br>
									<span>MACBOOK</span>
								</a>
							</li>
							<!-- <li>
								<a href="#" target="_blank">
									<span><img src="../images/tragopn.png"></span><br>
									<span>TRẢ GÓP</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/suachuan.png"></span><br>
									<span>SỬA CHỮA</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/khuyenmain.png"></span><br>
									<span>KHUYẾN MÃI</span>
								</a>
							</li> -->
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/tintucn.png"></span><br>
									<span>TIN TỨC</span>
								</a>
							</li>
							<!-- <li>
								<a href="#" target="_blank">
									<span><img src="../images/taikhoann.png"></span><br>
									<span>TÀI KHOẢN</span>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- main-content -->
<div class="main-content">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-sm-12 col-md-12 col-12">
				<div class="news-header">Tin công Nghệ</div>
				<div class="list-news">
					<div class="news">
						<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Full-Sale-50K.png">
							<div class="news-content">
								<a href="#"><div class="news-title">Ngày 13 rực rỡ: Giảm giá thêm 50.000đ so với giá website</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Long</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">
									Cuối tuần luôn là thời điểm lý tưởng để chúng ta đi chơi, đi mua sắm và trải nghiệm những món đồ công nghệ mình thích. Nhằm hỗ trợ khách hàng mua điện thoại chính hãng giá rẻ, Di Động Thông Minh sẽ triển khai chương trình “Ngày 13 rực rỡ” với ưu đãi cực kì hấp dẫn. Thời gian áp dụng: duy nhất 13/3/2021 Phạm vi áp dụng: Toàn bộ các chi nhánh của Di Động Thông Minh trên…
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="news">
							<img src="../images/Ipad-Pro-2018.jpg">
							<div class="news-content">
								<a href="#"><div class="news-title">Chọn mua iPad cao cấp đầu năm 2021 đừng bỏ lỡ những iPad này!!</div></a>
								<div class="infor">
									<span class="author">Trần Ngọc Hưng</span>&nbsp;/&nbsp;
									<span class="day">13/03/2021</span>
								</div>
								<div class="text">Máy tính bảng đang là phương tiện phổ thông với người dùng hiện nay bởi nó có thể đáp ứng được nhiều nhu cầu trong cuộc sống, từ giải trí đến học tập và công việc. Những chiếc table đến từ Apple luôn được người dùng ưa chuộng hơn những dòng khác bởi hiệu năng mượt mà và hệ điều hành dễ dùng. Dưới đây là 2 mẫu iPad cao cấp đang làm mưa làm gió trên thị trường không thể bỏ lỡ đầu năm 2021.</div>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end main-content -->

<!-- footer -->
<footer style="background-color: #428df0; height: auto; text-align: justify;">
	<div class="container">
		<div class="row" style="justify-content: space-between;">
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Long Trần Mobile</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Long Trần Mobile thành lập năm 2021. Chúng tôi chuyên cung cấp các thiết bị di động thông minh phục vụ khách hàng</p>
				</div>
			</div>
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Địa chỉ</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Số 12345 ngõ Thổ Quan, phố Khâm Thiên, Đống Đa , Hà Nội</p>
					<p>Số 4892 phố Giảng võ, Ba Đình, Hà Nội</p>
				</div>
			</div>
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Hotline</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Phone Sale: (+84) 034.929.5251</p>
					<p>Email: Longmar2018@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->

</body>
</html>