<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name= viewport content= width=device-width initial-scale=1.0>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  	<link rel="stylesheet" type="text/css" href="../css/product.css">
  	<script type="text/javascript" src="../js/product.js"></script>
	<title></title>
</head>
<body>
<header>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-6 d-none d-sm-block d-lg-block">
					<span><i class="fa fa-star"> Hệ thống bán lẻ Long Trần Mobile</i></span>
				</div>
				<div class="col-12 col-sm-6 col-lg-6 d-none d-sm-block d-lg-block">
					<ul class="header-top-Amenu">
						<li style="border-right: 1px solid #cccccc;">
							<a href="https://www.youtube.com/" target="_blank" title="dReviews">
								<i class="fab fa-youtube"></i>&nbsp;dReviews
							</a>
						</li>
						<li>
							<a href="https://www.facebook.com/" target="_blank" title="Fanpage">
								<i class="fab fa-facebook-square"></i>&nbsp;Fanpage
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav style="text-align: center; background-color: #b80a04" class="d-none d-sm-block d-lg-block">
		<div class="banner-top">
			<a href="#" target="_blank"><img src="../images/banner_top.png"></a>
		</div>
	</nav>

	<div class="header-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-4 col-lg-4">
					<div style="background-color: white;" class="d-flex">
						<div style="line-height: 60px;">
							<a href="#" target="_blank"><img src="../images/logo-fix.png" style="width: 50px; height: auto; margin-left: 10px;"></a>
						</div>
						<div class="d-none d-sm-block d-lg-block" id="header-select">
							<select>
								<option value="hn" selected="selected">Hà Nội</option>
								<option value="hcm">Hồ Chí Minh</option>
								<option value="ag">An Giang</option>
								<option value="dn">Đà Nẵng</option>
								<option value="ct">Cần Thơ</option>
								<option value="tn">Thái Nguyên</option>
								<option value="hd">Hải Dương</option>
								<option value="hp">Hải Phòng</option>
								<option value="kg">Kiên Giang</option>
							</select>
						</div>
						<div class="header-search">
							<form method="get">
								<div class="search-form">
									<input type="text" name="" placeholder="Bạn cần tìm..." style="color: #428df0;background-color: #ffffff;">
									<input type="hidden" name="">
									<a href="#"><i class="fas fa-search" style="background-color: white; color: #428df0 ;"></i></a>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-8 col-lg-8" style="padding: 0">
					<div class="header-wrapper-menu">
						<ul style="display: flex; float: left; margin-top: 7px; padding: 0;">
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/smartphonen.png"></span><br>
									<span>ĐIỆN THOẠI</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/tabletn.png"></span><br>
									<span>TABLET</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/phukienn.png"></span><br>
									<span>PHỤ KIỆN</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/donghon.png"></span><br>
									<span>ĐỒNG HỒ</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/macbook-icon.png"></span><br>
									<span>MACBOOK</span>
								</a>
							</li>
							<!-- <li>
								<a href="#" target="_blank">
									<span><img src="../images/tragopn.png"></span><br>
									<span>TRẢ GÓP</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/suachuan.png"></span><br>
									<span>SỬA CHỮA</span>
								</a>
							</li>
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/khuyenmain.png"></span><br>
									<span>KHUYẾN MÃI</span>
								</a>
							</li> -->
							<li>
								<a href="#" target="_blank">
									<span><img src="../images/tintucn.png"></span><br>
									<span>TIN TỨC</span>
								</a>
							</li>
							<!-- <li>
								<a href="#" target="_blank">
									<span><img src="../images/taikhoann.png"></span><br>
									<span>TÀI KHOẢN</span>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- main-content -->
<div class="main-content">
	<div class="container">

		<!-- main-content-top -->
		<div class="row" id="main-content-top">
			<div class="col-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid #e3e3e3 ;padding-bottom: 16px;">
				<div class="detail-title">
					Xiaomi Redmi Note 10 Pro Chính hãng&nbsp;
					<span>Camera 108MP siêu đỉnh</span>
				</div>
				<div class="star-rating">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</div>
			</div>
			<div class="col-lg-5" style="padding-top: 16px;">
				<div class="product-img">
					<img src="../images/xiaomi-redmi-note-10-pro-xanh.png" class="img-slider" idx="0">
					<img src="../images/xiaomi-redmi-note-10-pro-den.png" class="img-slider" idx="1">
					<img src="../images/xiaomi-redmi-note-10-pro-gold.png" class="img-slider" idx="2">
					<div class="product-special mt-3"><span>Đã Sẵn Hàng</span></div>
					<label>Trả góp 0%</label>
					<div class="caret-right"><i class="fas fa-angle-right"></i></div>
				</div>
				<div class="product-description">
					<span style="font-weight: bold; font-size: 16px;">Thông tin sản phẩm:</span> Xiaomi Redmi Note 10 Pro là chiếc điện thoại với nhiều nâng cấp và cải tiến mới, chạy chip Snapdragon 732G (8 nm). Camera 4 ống kính lên tới 108MP, pin khủng 5050 mAh, hỗ trợ Sạc nhanh 33W, 59% trong 30 phút. Chính hãng Xiaomi mới 100%, nguyên seal, bảo hành 18 tháng chính hãng yên tâm tuyệt đối.
				</div>
			</div>
			<div class="col-lg-4" style="padding-top: 16px;">
				<div class="product-choice">
					<div class="product-price" id="0">6,990,000 VNĐ</div>
					<div class="product-memory">
						<span>Bộ nhớ trong :</span>&nbsp;128Gb - Ram 6Gb
					</div>
					<div class="color">
						<span style="float: left; line-height: 60px; font-weight: bold; font-size: 16px;">Màu sắc</span>
						<span class="choose-color">
							<div id="radius-slide" style="background-color: #3cc19e" class="choose-active" idx="0"></div>
							<div id="radius-slide" style="background-color: #000000" idx="1"></div>
							<div id="radius-slide" style="background-color: #ffd700" idx="2"></div>
						</span>
					</div>
					<div style="clear: both;"></div>
					<div class="buy-now">
						<a href="#">
							<div class="buy-now-title">MUA NGAY</div>
							<div class="buy-now-content">Giao tận nơi hoặc lấy tại cửa hàng</div>
						</a>
					</div>
					<div class="product-call">Gọi đặt mua: <i style="color: #3cc19e" class="fas fa-phone-square-alt">&nbsp;034.929.5251</i> (7:00 - 22:00)</div>
				</div>

				<div class="product-sale">
					<div class="product-sale-title">KHUYẾN MÃI VÀ ƯU ĐÃI</div>
					<div class="product-sale-available pl-1">Sẵn hàng từ 20/03, tặng phiếu mua hàng 600.000đ</div>
					<div class="pl-2" style="font-size: 12px;"><i class="fas fa-thumbs-up"></i> Tặng 8 lần dán cường lực khi nâng cấp dGold</div>
					<div class="pl-2" style="font-size: 12px;"><i class="fas fa-thumbs-up"></i> Ốp lưng Clearview chỉ 60K / ốp lưng cao cấp 99K</div>
					<div class="pl-2" style="font-size: 12px;"><i class="fas fa-thumbs-up"></i> Kính cường lực chỉ 60K / Cường lực Full chỉ 99K"</div>
				</div>
			</div>
			<div class="col-lg-3" style="padding-top: 16px;">
				<div class="guarantee">
					<div class="guarantee-title">
						CHẾ ĐỘ BẢO HÀNH
					</div>
					<div class="mt-3 pl-3 mb-2">Bảo hành chính hãng</div>
					<div style="font-size: 14px; padding-left: 10px;">
						<ul>
							<li><span class="fa fa-star check"></span><i style="color: #9c9c9c;" class="fas fa-exchange-alt"></i> 1 đổi 1, 30 ngày</li>
							<li><span class="fa fa-star check"></span><i style="color: #9c9c9c;" class="fas fa-shield-alt"></i> Bảo hành 18 tháng</li>
							<li><span class="fa fa-star check"></span><i style="color: #9c9c9c;" class="fas fa-tools"></i> Áp dụng từ 12/12/2018</li>
						</ul>
					</div>
					<div><img src="../images/dcares.png" width="100%" height="auto"></div>
					<div class="guarantee-content">Sửa chữa bảo hành theo chính sách hiện hành của hãng sản xuất</div>
				</div>
				<div class="address">
					<div class="address-title">Danh sách cửa hàng gần bạn</div>
					<div>
						<ul>
							<li><i class="fas fa-home"></i> Số 12345 ngõ Thổ Quan, phố Khâm Thiên, Đống Đa , Hà Nội - <br> <i class="fas fa-phone"></i> (+84) 034.929.5251 </li>
							<li><i class="fas fa-home"></i> Số 4892 phố Giảng võ, Ba Đình, Hà Nội - <br> <i class="fas fa-phone"></i> (+84) 034.929.5251 </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end main-content-top -->

		<!-- main-content-bottom -->
		<div class="row" id="main-content-bottom">
			<div class="col-lg-8">
				<div class="product-detail">
					<div class="product-detail-title">
						ĐÁNH GIÁ CHI TIẾT
					</div>
					<div class="product-detail-content">
						Đối với Xiaomi thì dòng sản phẩm Redmi Note luôn luôn là dòng sản phẩm chủ đạo của hãng, mới đây thì mẫu máy mới nhất Xiaomi Redmi Note 10 chính thức được ra mắt với sức mạnh và tốc độ cực đỉnh, 4 camera 48MP, màn hình Supper AMOLED cùng một viên pin khủng cho thời gian sử dụng lâu dài.
					</div>
					<img src="../images/xiaomi-redmi-note-10-1.jpg" width="100%" height="auto">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="specifications">
					<div class="specifications-title">
						THÔNG SỐ KỸ THUẬT
					</div>
					<div class="specifications-content">
						<table class="table table-striped table-hover">
							<tr>
								<td>Băng tần - Sim</td>
								<td>2G/3G/4G</td>
							</tr>
							<tr>
								<td>Màn hình</td>
								<td>AMOLED, 6.43", Full HD+</td>
							</tr>
							<tr>
								<td>CPU</td>
								<td>
									Snapdragon 678 8 nhân
								</td>
							</tr>
							<tr>
								<td>Chip đồ họa ( GPU )</td>
								<td>Adreno 612</td>
							</tr>
							<tr>
								<td>Camera sau</td>
								<td>Chính 48 MP & Phụ 8 MP, 2 MP, 2 MP</td>
							</tr>
							<tr>
								<td>Camera trước</td>
								<td>13 MP</td>
							</tr>
							<tr>
								<td>RAM</td>
								<td>6GB</td>
							</tr>
							<tr>
								<td>Bộ nhớ trong</td>
								<td>128 GB</td>
							</tr>
							<tr>
								<td>Cảm biến</td>
								<td>Cảm biến vân tay</td>
							</tr>
							<tr>
								<td>Sim</td>
								<td>Dual SIM (Nano-SIM, dual stand-by)</td>
							</tr>
							<tr>
								<td>Pin</td>
								<td>5000mAh, Sạc nhanh 33W, 50% trong 25 phút</td>
							</tr>
							<tr>
								<td>Hệ điều hành</td>
								<td>Android 11, MIUI 12</td>
							</tr>
							<tr>
								<td>Màu sắc</td>
								<td>Đen, Trắng, xanh</td>
							</tr>
							<tr>
								<td>Phiên bản</td>
								<td>128GB/6GB RAM, 64GB/4GB RAM</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- end main-content-bottom -->
	</div>
</div>
<!-- end main-content -->

<!-- footer -->
<footer style="background-color: #428df0; height: auto; text-align: justify;">
	<div class="container">
		<div class="row" style="justify-content: space-between;">
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Long Trần Mobile</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Long Trần Mobile thành lập năm 2021. Chúng tôi chuyên cung cấp các thiết bị di động thông minh phục vụ khách hàng</p>
				</div>
			</div>
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Địa chỉ</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Số 12345 ngõ Thổ Quan, phố Khâm Thiên, Đống Đa , Hà Nội</p>
					<p>Số 4892 phố Giảng võ, Ba Đình, Hà Nội</p>
				</div>
			</div>
			<div class="col-12 col-sm-5 col-lg-3" id="footer-col">
				<h4>Hotline</h4>
				<div style="border-top: 1px solid white; padding-top: 15px;">
					<p>Phone Sale: (+84) 034.929.5251</p>
					<p>Email: Longmar2018@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->

</body>
</html>